form.payment {
	text-align: left;
	margin-top: 150px;
	width: 500px;
    display: flex;	
	flex-direction: column;
	flex-wrap: wrap;
/*	align-items: center;
  	justify-content: center;*/
}

form.payment input {
	width:450px
}

#payment_label {
	margin: 15px;
}

#payment_elem {
	margin: 15px;
	margin-left: 20px;
}

h1.header {
	margin-top: 100px;
}