<html>
    <head>
        <title>Payment service</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <center>
            <h1 class="header">Payment service</h1>
            <form class="payment" action="/payment" method="post">
                <text id="payment_label">Payment amount</text>
                <input id="payment_elem" type="number" name="amount">
                <text id="payment_label">Currency</text>
                <select id="payment_elem"  name="currency">
                    <option value="eur">EUR</option>
                    <option value="usd">USD</option>
                    <option value="rub">RUB</option>
                </select>
                <text id="payment_label">Description</text>
                <textarea id="payment_elem"  name="description" rows="10" cols="30"></textarea>
                <input id="payment_elem"  type="submit" value="Pay"> 
            </form>
        </center>
    </body> 
</html>